<ion-header>
  <ion-toolbar>
    <ion-title class="text-align">
      Bank Search
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md = "6" offset-md = "3">
          <ion-item class="drop-down_holder">
              <ion-label>City</ion-label>
              <ion-select [(ngModel)]="city" (ionChange)="onChanged($event, city)" value="MUMBAI">
                <ion-select-option value="MUMBAI">MUMBAI</ion-select-option>
                <ion-select-option value="BANGLORE">BANGLORE</ion-select-option>
                <ion-select-option value="INDORE">INDORE</ion-select-option>
                <ion-select-option value="DELHI">DELHI</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-toolbar>
              <ion-searchbar (ionChange) = "filter($event)"   mode="ios" showCancelButton="true"></ion-searchbar>
            </ion-toolbar>
            <ion-list>
              <ion-item *ngFor="let con of this.data">
                <ion-label>
                  <div class = "list-holder">
                  <div class="list-data-holder">
                    <span>Bank Name: </span>
                    <span>{{ con.bank_name }}</span>
                  </div>
                  <div class="list-data-holder">
                    <span>Branch: </span>
                    <span>{{ con.branch }}</span>
                  </div>
                  <div class="list-data-holder">
                    <span>IFSC: </span>
                    <span>{{ con.ifsc }}</span>
                  </div>
                </div>
                </ion-label>
              </ion-item>
            </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
